*{
    margin:0;
    padding:0;
}
@font-face {
    font-family: Montserrat_Extrabold;
    src: url(../font/Montserrat-ExtraBold.ttf);
}
@font-face {
    font-family: Montserrat_bold;
    src: url(../font/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat_medium;
    src: url(../font/Montserrat-Medium.ttf);
}
@font-face {
    font-family: Montserrat_light;
    src: url(../font/Montserrat-ExtraLight.ttf);
}
.container
{
    width: 1120px;
    margin: 0 auto;
}
.header
{
    margin-top: 14px;
    height:44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_left
{
    display: flex;
}
.nav_ul
{
    display:flex;
    width: 375px;
    justify-content: space-between;
    margin-left: 48px;
    align-items: center;
    height: 44px;
}
.headline3{
color: #2D3848;
 font-size: 28px;
 font-family: Montserrat_Extrabold;
 line-height: 40px;
}
.letter_red
{
    color: #DD4859;
}
.label
{
 color: #2D3848;
 font-size: 14px;
 font-family: Montserrat_bold;
 line-height: 20px;
}
.nav_ul li
{
    list-style-type: none;
}
.nav_ul li a
{
    text-decoration: none;
}
.btn-call
{
    width: 130px;
    height:44px;
    border-radius: 8px;
    background-color: #DD4859;
    border: none;
    font-family: Montserrat_bold;
    line-height: 20px;
    color: white;
}
.header_hero
{
    display: flex;
    margin-top: 64px;
}
.p_hero
{
    display: flex;
    color: #2D3848;
    font-size: 48px;
    font-family: Montserrat_Extrabold;
    line-height: 64px;
    padding-top: 207px;
    position: absolute;
    width: 500px;
}
.p_hero_mini
{
    display: flex;
    color: #3D3D4E;
    font-size: 18px;
    font-family: Montserrat_medium;
    line-height: 28px;
    margin-top: 367px;
    width: 500px;
}
.hero_img
{
    height: 714px;
    width: 544px;
    padding-left: 96px;
}
.btn-pod
{
    width: 130px;
    height:44px;
    border-radius: 8px;
    background-color: #DD4859;
    border: none;
    font-family: Montserrat_bold;
    line-height: 20px;
    color: white;
    position: absolute;
    margin-top: -230px;
}
.header_sta
{
    margin-top: 64px;
    /* align-items: center; */
    position: relative;
}
.p_sta
{
    color: #2D3848;
    font-size: 40px;
    font-family: Montserrat_Extrabold;
    line-height: 54px;
    padding-top: 96px;
}
.card
{
    display: flex;
    width: 320px;
    height: 229px;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 20px 50px 0px rgba(45, 56, 72, 0.10);
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 249px;
    left:32px;
    z-index: -99;
    padding-top: 93px;
    box-sizing: border-box;
}
.card_p
{
    font-family: Montserrat_medium;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 32px;

}
.btn-pod1
{
    width: 130px;
    height:44px;
    border-radius: 8px;
    background-color: #DD4859;
    border: none;
    font-family: Montserrat_bold;
    line-height: 20px;
    color: white;
}
.header_sta1
{
    display: flex;
    position: absolute;
    margin-left: 384px;
    margin-top: -315px;
}
.p_sta1
{
    color: #2D3848;
    font-size: 40px;
    font-family: Montserrat_Extrabold;
    line-height: 54px;
    padding-top: 96px;
}
.card1
{
    display: flex;
    width: 320px;
    height: 229px;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 20px 50px 0px rgba(45, 56, 72, 0.10);
    flex-direction: column;
    align-items: center;
    padding-top: 93px;
    box-sizing: border-box;
    position: absolute;
    top: 249px;
    left:32px;
    z-index: -99;
}
.card_p1
{
    font-family: Montserrat_medium;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 32px;

}
.btn-pod2
{
    width: 130px;
    height:44px;
    border-radius: 8px;
    background-color: #DD4859;
    border: none;
    font-family: Montserrat_bold;
    line-height: 20px;
    color: white;
}
.header_sta2
{
    display: flex;
    position: absolute;
    margin-left: 768px;
    margin-top: -315px;
}
.p_sta2
{
    color: #2D3848;
    font-size: 40px;
    font-family: Montserrat_Extrabold;
    line-height: 54px;
    padding-top: 96px;
}
.card2
{
    display: flex;
    width: 320px;
    height: 229px;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 20px 50px 0px rgba(45, 56, 72, 0.10);
    flex-direction: column;
    align-items: center;
    padding-top: 93px;
    box-sizing: border-box;
    position: absolute;
    top: 249px;
    left:32px;
    z-index: -99;
}
.card_p2
{
    font-family: Montserrat_medium;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 32px;

}
.btn-pod3
{
    width: 130px;
    height:44px;
    border-radius: 8px;
    background-color: #DD4859;
    border: none;
    font-family: Montserrat_bold;
    line-height: 20px;
    color: white;
}
.CTA_NIZ
{
    margin-top: 196px;
}
.header_sta3
{
    margin-top: 64px;
    /* align-items: center; */
    position: relative;
}
.p_sta3
{
    color: #2D3848;
    font-size: 40px;
    font-family: Montserrat_Extrabold;
    line-height: 54px;
    padding-top: 96px;
}
.card3
{
    display: flex;
    width: 320px;
    height: 229px;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 20px 50px 0px rgba(45, 56, 72, 0.10);
    flex-direction: column;
    align-items: center;
    padding-top: 93px;
    box-sizing: border-box;
    position: absolute;
    top: 249px;
    left:32px;
    z-index: -99;
}
.card_p3
{
    font-family: Montserrat_medium;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 32px;

}
.btn-pod4
{
    width: 130px;
    height:44px;
    border-radius: 8px;
    background-color: #DD4859;
    border: none;
    font-family: Montserrat_bold;
    line-height: 20px;
    color: white;
}
.header_sta4
{
    display: flex;
    position: absolute;
    margin-left: 384px;
    margin-top: -315px;
}
.p_sta4
{
    color: #2D3848;
    font-size: 40px;
    font-family: Montserrat_Extrabold;
    line-height: 54px;
    padding-top: 96px;
}
.card4
{
    display: flex;
    width: 320px;
    height: 229px;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 20px 50px 0px rgba(45, 56, 72, 0.10);
    flex-direction: column;
    align-items: center;
    padding-top: 93px;
    box-sizing: border-box;
    position: absolute;
    top: 249px;
    left:32px;
    z-index: -99;
}
.card_p4
{
    font-family: Montserrat_medium;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 32px;

}
.btn-pod5
{
    width: 130px;
    height:44px;
    border-radius: 8px;
    background-color: #DD4859;
    border: none;
    font-family: Montserrat_bold;
    line-height: 20px;
    color: white;
}
.header_sta5
{
    display: flex;
    position: absolute;
    margin-left: 768px;
    margin-top: -315px;
}
.p_sta5
{
    color: #2D3848;
    font-size: 40px;
    font-family: Montserrat_Extrabold;
    line-height: 54px;
    padding-top: 96px;
}
.card5
{
    display: flex;
    width: 320px;
    height: 229px;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 20px 50px 0px rgba(45, 56, 72, 0.10);
    flex-direction: column;
    align-items: center;
    padding-top: 93px;
    box-sizing: border-box;
    position: absolute;
    top: 249px;
    left:32px;
    z-index: -99;
}
.card_p5
{
    font-family: Montserrat_medium;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 32px;

}
.btn-pod6
{
    width: 130px;
    height:44px;
    border-radius: 8px;
    background-color: #DD4859;
    border: none;
    font-family: Montserrat_bold;
    line-height: 20px;
    color: white;
}
.header_fut
{
    display: flex;
    padding-top: 378px;
    position: absolute;
}
.p_fut
{
    color: #000;
    text-align: center;
    font-family: Montserrat_medium;
    font-size: 18px;
    line-height: 28px;
    padding-top: 158px;
}
.p_niz_fut
{
    color: #000;
    text-align: center;
    font-family: Montserrat_light;
    font-size: 16px;
    line-height: 26px;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
}
.card_fut
{
    width: 325px;
    height: 330px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    border-top-left-radius: 128px;
    color: white;
}
.img_heart
{
    width: 59px;
    height: 59px;
    position: absolute;
    padding-left: 135px;
    padding-top: 50px;
}
.krug_fut
{
    width: 96px;
    height: 96px;
    position: absolute;
    padding-top: 35px;
    padding-left: 115px;
}
.img_fut
{
    display: flex;
}
.header_fut1
{
    display: flex;
    padding-top: 410px;
    padding-left: 399px;
    position: absolute;
}
.p_fut1
{
    color: #000;
    text-align: center;
    font-family: Montserrat_medium;
    font-size: 18px;
    line-height: 28px;
    padding-top: 158px;
}
.p_niz_fut1
{
    color: #000;
    text-align: center;
    font-family: Montserrat_light;
    font-size: 16px;
    line-height: 26px;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
}


.card_fut1
{
    width: 325px;
    height: 330px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    border-top-left-radius: 128px;
}
.img_heart1
{
    width: 59px;
    height: 59px;
    position: absolute;
    padding-left: 135px;
    padding-top: 50px;
}
.krug_fut1
{
    width: 96px;
    height: 96px;
    position: absolute;
    padding-top: 35px;
    padding-left: 115px;
}
.img_fut1
{
    display: flex;
}
.header_fut2
{
    display: flex;
    padding-top: 378px;
    padding-left: 788px;
    position: absolute;
}
.p_fut2
{
    color: #000;
    text-align: center;
    font-family: Montserrat_medium;
    font-size: 18px;
    line-height: 28px;
    padding-top: 158px;
}
.p_niz_fut2
{
    color: #000;
    text-align: center;
    font-family: Montserrat_light;
    font-size: 16px;
    line-height: 26px;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
}
.card_fut2
{
    width: 325px;
    height: 330px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    border-top-left-radius: 128px;
}
.img_heart2
{
    width: 59px;
    height: 59px;
    position: absolute;
    padding-left: 135px;
    padding-top: 50px;
}
.krug_fut2
{
    width: 96px;
    height: 96px;
    position: absolute;
    padding-top: 35px;
    padding-left: 115px;
}
.img_fut2
{
    display: flex;
}
.p_zag_fut
{
    color: var(--blue-100, #2D3848);
    font-family: Montserrat_Extrabold;
    font-size: 40px;
    line-height: 54px;
    position: absolute;
    padding-top: 260px;
    padding-left: 400px;
}
.banner_fut
{
    display: flex;
    padding-top: 837px;
}
.p_banner_fut
{
    display: flex;
    border-radius: 32px 128px 32px 32px;
    background: linear-gradient(180deg, rgba(221, 72, 89, 0.10) 0%, rgba(221, 72, 89, 0.25) 100.21%);
    width: 1120px;
    height: 164px;
}
.god_cifr
{
    position: absolute;
    color: var(--red-100, #DD4859);
    text-align: center;
    font-family: Montserrat_Extrabold;
    font-size: 28px;
    line-height: 40px;
    padding-top: 32px;
    padding-left: 145px;
}
.kli_cifr
{
    position: absolute;
    color: var(--red-100, #DD4859);
    text-align: center;
    font-family: Montserrat_Extrabold;
    font-size: 28px;
    line-height: 40px;
    padding-left: 498px;
    padding-top: 32px;
}
.otz_cifr
{
    position: absolute;
    color: var(--red-100, #DD4859);
    text-align: center;
    font-family: Montserrat_Extrabold;
    font-size: 28px;
    line-height: 40px;
    padding-left: 890px;
    padding-top: 32px;
}
.god_bukv
{
    position: absolute;
    color: var(--red-100, #DD4859);
    text-align: center;
    font-family:  Montserrat_light;
    font-size: 16px;
    line-height: 26px;
    padding-left: 108px;
    padding-top: 105px;
}
.kli_bukv
{
    position: absolute;
    color: var(--red-100, #DD4859);
    text-align: center;
    font-family:  Montserrat_light;
    font-size: 16px;
    line-height: 26px;
    padding-left: 442px;
    padding-top: 105px;
}
.otz_bukv
{
    position: absolute;
    color: var(--red-100, #DD4859);
    text-align: center;
    font-family:  Montserrat_light;
    font-size: 16px;
    line-height: 26px;
    padding-left: 837px;
    padding-top: 105px;
}
.cta_photo_img
{
    padding-top: 96px;
    position: absolute;
}
.cta_photo_zag
{
    color: var(--blue-100, #2D3848);
    text-align: center;
    font-family: Montserrat_extrabold;
    font-size: 28px;
    line-height: 40px;
    position: absolute;
    padding-left: 575px;
    padding-top: 263px;
}
.cta_photo_name
{
    position: absolute;
    padding-top: 345px;
    padding-left: 591px;
    color: var(--blue-75, rgba(45, 56, 72, 0.75));
    text-align: center;
    font-family: Montserrat_bold;
    font-size: 14px;
    line-height: 22px; /* 157.143% */
}
.cta_photo_num
{
    position: absolute;
    padding-top: 402px;
    padding-left: 591px;
    color: var(--blue-75, rgba(45, 56, 72, 0.75));
    text-align: center;
    font-family: Montserrat_bold;
    font-size: 14px;
    line-height: 22px; 
}
.cta_photo_iz
{
    position: absolute;
    padding-top: 450px;
    padding-left: 615px;
    color: var(--blue-75, rgba(45, 56, 72, 0.75));
    text-align: center;
    font-family: Montserrat_bold;
    font-size: 14px;
    line-height: 22px;
}
.process_real
{
    position: absolute;
}
.zag_photo_img
{
    position: absolute;
    padding-top: 454px;
    padding-left: 590px;
}
.img_process
{
    padding-top: 64px;
}
.rel2
{
    padding-left: 26px;
}
.rel3
{
    padding-left: 26px;
}
.rel4
{
    padding-left: 26px;
}
.p_process_real
{
    color: var(--blue-100, #2D3848);
    font-family: Montserrat_extrabold;
    font-size: 40px;
    line-height: 54px;
    padding-top: 843px;
    padding-left: 234px;
}
.otz
{
    position: absolute;
}
.otz_zag
{
    color: var(--blue-100, #2D3848);
    font-family: Montserrat_extrabold;
    font-size: 40px;
    line-height: 54px; 
    padding-top: 1362px;
    padding-left: 214px;
}
.otz_img
{
    padding-top: 64px;
}
.otz_ban2
{
    padding-left: 15px;
}
.otz_ban3
{
    padding-left: 15px;
}
.img_cta_chose
{
    padding-top: 2072px;
    padding-left: 576px;
    position: absolute;
}
.p_cta_choise1
{
    color: var(--blue-100, #2D3848);
    font-family:  Montserrat_extrabold;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    z-index: +99;
    position: absolute;
    padding-top: 2130px;
}
.p_cta_choise2
{
    color: var(--blue-100, #2D3848);
    font-family:  Montserrat_extrabold;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    z-index: +99;
    position: absolute;
    padding-top: 2170px;
}
.forma
{
    color: #000;
    font-family: Montserrat_medium;
    font-size: 18px;
    line-height: 28px;
    padding-top: 2230px;
    position: absolute;
}
.name_forma
{
    color: var(--blue-75, rgba(45, 56, 72, 0.75));
    text-align: center;
    font-family: Montserrat_bold;
    font-size: 14px;
    line-height: 22px;
    padding-top: 2300px;
    padding-left: 16px;
    position: absolute;
}
.num_forma
{
    color: var(--blue-75, rgba(45, 56, 72, 0.75));
    text-align: center;
    font-family: Montserrat_bold;
    font-size: 14px;
    line-height: 22px;
    padding-top: 2364px;
    padding-left: 16px;
    position: absolute;
}
.vibr_forma
{
    color: var(--blue-75, rgba(45, 56, 72, 0.75));
    text-align: center;
    font-family: Montserrat_bold;
    font-size: 14px;
    line-height: 22px;
    padding-top: 2428px;
    padding-left: 16px;
    position: absolute;
}
.p_blog
{
    color: var(--blue-100, #2D3848);
    font-family: Montserrat_extrabold;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 54px;
    position: absolute;
    padding-top: 2975px;
    padding-left: 463px;
}
.img_blog1
{
    position: absolute;
    padding-top: 3094px;
}
.img_blog2
{
    position: absolute;
    padding-top: 3126px;
    padding-left: 369px;
}
.img_blog3
{
    position: absolute;
    padding-top: 3094px;
    padding-left: 751px;
}
.contact_info
{
    padding-top: 3767px;
}
.map
{
    position: absolute;
    padding-left: 192px;
    padding-top: 3640px;
}
.cta_back2
{
    padding-top: 192px;
    position: absolute;
}
.p_cta2_zag
{
    color: var(--white, #FFF);
    font-family: Montserrat_extrabold;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    position: absolute;
    padding-top: 257px;
    padding-left: 455px;
}
.p_cta2_sr
{
    color: var(--Black, #3D3D4E);
    font-family: Montserrat_light;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    position: absolute;
    padding-top: 340px;
    padding-left: 260px;
}
.button_cta2
{
    position: absolute;
    padding-top: 415px;
    padding-left: 482px;
}
.logo_footer
{
    color: #2D3848;
    font-size: 28px;
    font-family: Montserrat_Extrabold;
    line-height: 40px;
    position: absolute
}
.logo_footer_red
{
    color: #DD4859;
}
.logo_footer{
    padding-top: 638px;
}
.p_footer
{
    color: var(--Black, #3D3D4E);
    /* body 2 */
    font-family: Montserrat_light;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    position: absolute;
}
.p_footer_mini1
{
    width: 254px;
    padding-top: 698px;
    position: absolute;
}
.p_footer_mini2
{
    width: 254px;
    padding-top: 698px;
    padding-left: 289px;
    position: absolute;
}
.p_footer_mini3
{
    width: 254px;
    padding-top: 741px;
    padding-left: 289px;
    position: absolute;
}
.p_footer_mini4
{
    width: 254px;
    padding-top: 783px;
    padding-left: 289px;
    position: absolute;
}
.p_footer_mini5
{
    width: 254px;
    padding-top: 698px;
    padding-left: 563px;
    position: absolute;
}
.p_footer_mini6
{
    width: 254px;
    padding-top: 740px;
    padding-left: 563px;
    position: absolute;
}
.p_footer_mini7
{
    width: 254px;
    padding-top: 782px;
    padding-left: 563px;
    position: absolute;
}
.p_footer_zag
{
    color: var(--blue-100, #2D3848);
    /* Label */
    font-family: Montserrat_bold;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
}
.p_footer_info
{
    position: absolute;
    padding-top: 650px;
    padding-left: 290px;
}
.p_footer_info1
{
    padding-left: 563px;
    position: absolute;
    padding-top: 650px;
}
.p_footer_info2
{
    padding-left: 880px;
    position: absolute;
    padding-top: 650px;
}
.seti
{
    padding-top: 698px;
    padding-left: 878px;
    position: absolute;
}
.p_cta2_zag
{
    white-space: nowrap;
}
.p_cta2_sr
{
    white-space: nowrap;
}
.p_footer_info2
{
    white-space: nowrap;
}
.p_zag_fut
{
    white-space: nowrap;
}
.kli_bukv
{
    white-space: nowrap;
}
.otz_bukv
{
    white-space: nowrap;
}
.cta_photo_zag
{
    white-space: nowrap;
}
.p_cta_photo_iz
{
    white-space: nowrap;
}
.p_process_real
{
    white-space: nowrap;
}
.otz_zag
{
    white-space: nowrap;
}
.p_cta_choise2
{
    white-space: nowrap;
}
.p_blog
{
    white-space: nowrap;
}
@media(max-width:450px)
{
    .rel2
    {
        padding-left: 399px;
    position: absolute;
    padding-top: 320px;
    }
    .rel3
    {
        padding-left: 291px;
        position: absolute;
    }
    .rel4
    {
        padding-left: 570px;
        position: absolute;
    }
    .img_process
    {
        position: absolute;
    }
    .otz_ban2
    {
        position: absolute;
    }
    .otz_ban3
    {
        position: absolute;
        padding-left: 394px;
    }
    .p_cta_choise2
    {
        padding-left: 16px;
    }
    .p_cta_choise1
    {
        padding-left: 16px;
    }
    .forma
    {
        padding-left: 16px;
    }
    .name_forma
    {
        padding-left: 32px;
    }
    .num_forma
    {
        padding-left: 32px;
    }
    .name_forma
    {
        padding-left: 32px;
    }
    .vibr_forma
    {
        padding-left: 32px;
    }
    .header_fut
    {
        padding-left: 399px;
    }
    .header_fut1
    {
        padding-top: 724px;
    }
    .header_fut2
    {
        padding-left: 399px;
        padding-top: 1081px;
    }
    .lishnee
    {
        padding-top: 600px;
    }
    .rel1
    {
        padding-left: 399px;
        position: absolute;
        width: 500px;
    }

}
@media(max-width:950px)
{
    .rel2
    {
    padding-left: 399px;
    position: absolute;
    padding-top: 580px;
    width: 500px;
    }
    .rel3
    {
        padding-left: 399px;
        position: absolute;
        padding-top: 1200px;
        width: 500px;
    }
    .rel4
    {
        padding-left: 399px;
        padding-top: 1800px;
        position: absolute;
        width: 500px;
    }
    .otz_ban2
    {
        position: absolute;
    }
    .otz_ban3
    {
        position: absolute;
        padding-left: 394px;
    }
    .drugoe
    {
        padding-top: 2000px;
    }
}